**/.github
**/back-end
**/build
**/deployer
**/discord
**/scripts
**/site
**/src
**/node_modules

.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
jsconfig.json
package-lock.json
webpack.config.json