@use './colors.scss' as *;

* {
    margin: 0;
    padding: 0;

    background: $dark;
    color: $mid;

    font-family: 'DejaVu';
    font-size: 15pt;

    overflow-x: hidden;
}

.bold {
    font-weight: 800;
    font-style: italic;
}

.top-center {
    padding-top: 10%;
    text-align: center;
}

.page-center {
    padding-top: 20px;
    text-align: center;
}

.Icon {
    background: $invisible;
}