@use '../../colors.scss' as *;

button {
    color: black;

    border-radius: 6%;
    border-style: solid;

    border-color: $light-white;
    background: $light-white;

    padding: 5px;

    cursor: pointer;
}